<mat-toolbar color="primary" class="top-bar">
  <span>Atlas Server Manager Host</span>
  <span class="fill-span"></span>
  <span>
    <button mat-icon-button class="top-bar-action" (click)="minimizeApp()"><i class="fas fa-minus"></i></button>
    <button mat-icon-button class="top-bar-action" (click)="maximizeApp()"><i class="far fa-window-maximize"></i></button>
    <button mat-icon-button class="top-bar-action" (click)="closeApp()"><i class="fas fa-times"></i></button>
  </span>
</mat-toolbar>
<mat-toolbar class="top-bar secondary-top-bar">
  <a routerLink="servers"><button mat-button [class]="tabBackground('Servers')" (click)="selectedTab = 'Servers'">Servers</button></a>
  <a routerLink="players"><button mat-button [class]="tabBackground('Players')" (click)="selectedTab = 'Players'">Players</button></a>
  <a routerLink="admin"><button mat-button [class]="tabBackground('Admin')" (click)="selectedTab = 'Admin'">Admin</button></a>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>

<mat-toolbar color="primary" class="bottom-bar">
  <span>Connected Players: -</span>
  <span class="fill-span"></span>
  <span>Status: Offline (0/16)</span>
</mat-toolbar>
