<mat-card>
  <mat-card-title>Game Files</mat-card-title>
  <div class="folder-location">
    <mat-form-field style="width: 70%; margin-right: 20px;">
      <input disabled matInput placeholder="Game Files Path" [(ngModel)]="fileLocationText">
    </mat-form-field>
    <input #directoryLocation name="directoryLocation" type="file" style="height: 0px; width: 0; overflow: hidden;" [(ngModel)]="fileLocation" (change)="fileName(directoryLocation)" webkitdirectory type="file">
    <button mat-flat-button color="primary" (click)="directoryLocation.click()">Update Location</button>
  </div>
</mat-card>

<mat-card style="margin-top: 20px;">
  <mat-card-title>SteamCMD</mat-card-title>
  <h4>Status: <b>{{steamInstalled}}</b></h4>
  <button mat-flat-button style="margin-right: 10px" color="primary" (click)="forceSteamCMDUpdate()">{{buttonSteamInstallText()}}</button>
</mat-card>

<mat-card style="margin-top: 20px;">
  <mat-card-title>Atlas</mat-card-title>
  <h4>Version: <b>v15.4</b></h4>
  <button mat-flat-button style="margin-right: 10px" color="primary">Check Atlas Update</button>
  <form class="atlasUpdateForm">
    <mat-checkbox #autoUpdate (change)="autocheckChange(autoUpdate)" style="margin-right: 20px;" color="primary">Autocheck Update</mat-checkbox>
    <mat-form-field *ngIf="autoUpdateEnabled">
      <span matPrefix>Every</span>
      <input matInput type="number" value="30">
      <span matSuffix>Mins</span>
    </mat-form-field>
  </form>
</mat-card>

<mat-card style="margin-top: 20px;">
  <mat-card-title>Recovery</mat-card-title>
  <button mat-flat-button color="warn" (click)="dataStore.format()">Reset App Data (Will not touch game files)</button>
</mat-card>
