<mat-horizontal-stepper *ngIf="!dataStore.dataSet" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form style="padding-right: 100px; position: relative" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Downloads</ng-template>
        <h3>Step 1</h3>
        <div class="inline-download">
          <p style="margin-right: 20px;">Download the Atlas Grid Tool from <a href="https://github.com/GrapeshotGames/ServerGridEditor">Grapeshot Games' Github</a></p>
          <a (click)="sectiononetick.draw(); downloadGridFile();"><button mat-flat-button color="primary"><i class="fas fa-download"></i> Download Now</button></a>
        </div>
        <div class="tick-container">
          <app-tick-animation #sectiononeTick></app-tick-animation>
          <app-cross-animation #sectiononeCross></app-cross-animation>
        </div>
      <div style="margin-top: 20px;">
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
    <div class="center-split">
      <span>or</span>
    </div>
    <div>
      <p>Select the directory of your current server, we will grab your ports from your current <i>ServerGrid.json</i> file.</p>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form style="padding-right: 100px; position: relative" [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Config</ng-template>
      <h3>Step 2</h3>
      <p>Design your server grid following the <a (click)="downloadWikiFile()">Wiki</a>, Export the grid and select the <i>ServerGrid.json</i> file below</p>
      <div class="flex-start">
        <button mat-flat-button color="primary" (click)="fileInput.click()">Upload</button>
        <p style="margin-left: 15px;">{{serverName}}</p>
      </div>
      <input formControlName="jsonFile" (change)="fileChange()" name="jsonFile" hidden type="file" #fileInput>
      <div class="tick-container">
        <app-tick-animation #sectiontwoTick></app-tick-animation>
        <app-cross-animation #sectiontwoCross></app-cross-animation>
      </div>
      <div style="margin-top: 20px;">
        <button style="margin-right: 5px;" mat-flat-button color="primary" matStepperPrevious>Back</button>
        <button [disabled]="!fileReady" mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form style="padding-right: 100px; position: relative" [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Continue</ng-template>
        <h3>Step 3</h3>
        <p>Confirm the ports entered from the <i>Grid Editor Tool</i></p>
        <div class="tick-container">
          <app-tick-animation #sectionthreeTick></app-tick-animation>
          <app-cross-animation #sectionthreeCross></app-cross-animation>
        </div>
      <div style="margin-top: 10px; padding-right: 100px; position: relative">
        <p style="max-width: 100%;">
          <b>Query Ports: </b><span style="display: inline-block;" *ngFor="let port of queryPorts; let i = index"><span [hidden]="i == 0">,</span>{{port}}</span>
        </p>
        <p style="max-width: 100%;">
          <b>Game Ports: </b><span style="display: inline-block;" *ngFor="let port of gamePorts; let i = index"><span [hidden]="i == 0">,</span>{{port}}</span>
        </p>
        <p style="max-width: 100%;">
          <b>Seamless Ports: </b><span style="display: inline-block;" *ngFor="let port of seamlessPorts; let i = index"><span [hidden]="i == 0">,</span>{{port}}</span>
        </p>
      </div>
      <mat-checkbox color="primary" (change)="portsConfirmed = !portsConfirmed; drawThirdTick();">These are the ports I'm using!</mat-checkbox>
    </form>
    <button [disabled]="!portsConfirmed" (click)="finaliseConfig()" style="margin-top: 15px" mat-flat-button color="primary">Continue</button>
  </mat-step>
</mat-horizontal-stepper>

<div [hidden]="!dataStore.dataSet" class="servers-list">
  <button mat-flat-button [matMenuTriggerFor]="commandMenu" style="margin-right: 5px;" color="primary">Commands</button>
  <mat-menu #commandMenu="matMenu">
    <button mat-menu-item>Start All Servers</button>
    <button mat-menu-item>Stop All Servers</button>
    <button mat-menu-item>Force Check Update</button>
  </mat-menu>
  <button mat-flat-button color="primary">Edit</button>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="data-table">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Grid</th>
        <td class="gridxCell" mat-cell *matCellDef="let element">{{gridToNumber(element.gridX)}}{{element.gridY + 1}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Server Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="home">
        <th mat-header-cell *matHeaderCellDef> Home </th>
        <td mat-cell *matCellDef="let element" [class]="getHomeClass(element)"> {{element.isHomeServer}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td #statusCell mat-cell *matCellDef="let element" [class]="getStatusClass(statusCell)"> Offline </td>
      </ng-container>

      <ng-container matColumnDef="players">
        <th mat-header-cell *matHeaderCellDef> Players </th>
        <td mat-cell *matCellDef="let element"> 0 </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator #paginate [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
