.examples-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.tick-container {
  position: absolute;
  width: 100px;
  bottom: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-split {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 20px 0 30px;
  border-top: 2px dashed rgba(0,0,0,0.1);
  border-bottom: 2px dashed rgba(0,0,0,0.1);
}

.center-split span {
  color: rgba(0,0,0,0.2);
  font-size: 1.2em;
}

.inline-download {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.data-table {
  width: 100%;
  margin-top: 10px;
}

tr.mat-header-row:hover {
  background-color: white !important;
  cursor: auto;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.gridyCell, .gridxCell {
  width: 80px;
  font-weight: bold;
}

.success-color {
  color: #27ae60;
}

.warn-color {
  color: #f39c12;
}

.error-color {
  color: #c0392b;
}

.info-color {
  color: #2980b9;
}
