/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

$darkMain: darken(#3f51b5, 10%);
$main: #3f51b5;

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

body {
  background-color: #ecf0f1;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

a:hover {
  cursor: pointer;
}

.main-content {
  padding: 20px;
}

.selected-tab {
  background-color: $main;
}

.fill-span {
  flex: 1 1 auto;
}

.top-bar-action {
  -webkit-app-region: no-drag;
}

.top-bar {
  -webkit-app-region: drag;
}

.secondary-top-bar {
  background-color: $darkMain !important;
}

.secondary-top-bar button {
  color: white !important;
  font-weight: 500;
  font-size: 1.0em;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.8em;
  font-weight: 300;
}

.flex-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.atlasUpdateForm {
    height: 50px;
    display: flex;
    align-items: center;
}

.atlasUpdateForm div.mat-form-field-infix {
  width: 60px !important;
  text-align: center;
}

.atlasUpdateForm .mat-form-field-prefix, .atlasUpdateForm .mat-form-field-suffix {
  width: 45px;
}
